absl-py==2.1.0
audio-separator==0.24.1
audioread==3.0.1
beartype==0.18.5
boolean.py==4.0
CacheControl==0.14.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
coloredlogs==15.0.1
contourpy==1.3.1
cycler==0.12.1
cyclonedx-python-lib==7.6.2
Cython==3.0.11
decorator==5.1.1
defusedxml==0.7.1
diffq==0.2.4
einops==0.8.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.55.2
fsspec==2024.10.0
future==1.0.0
html5lib==1.1
humanfriendly==10.0
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
julius==0.2.7
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.10.2.post1
license-expression==30.4.0
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mdurl==0.1.2
ml_collections==1.0.0
mpmath==1.3.0
msgpack==1.1.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
onnx==1.17.0
onnx2torch==1.5.15
onnxruntime==1.20.1
opencv-python==4.10.0.84
packageurl-python==0.16.0
packaging==24.2
pillow==11.0.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
platformdirs==4.3.6
pooch==1.8.2
protobuf==5.29.1
py-serializable==1.1.2
pycparser==2.22
pydub==0.25.1
Pygments==2.18.0
pyloudnorm==0.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
resampy==0.4.3
rich==13.9.4
rotary-embedding-torch==0.8.6
samplerate==0.1.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.17.0
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.5.0.post1
sympy==1.13.1
threadpoolctl==3.5.0
toml==0.10.2
torch==2.5.1+cpu
torchvision==0.20.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
webencodings==0.5.1
